<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pigeon.app.netutil"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
     <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pigeon.app.ui.WelcomeActivity"
            android:label="@string/app_name"
        	android:logo="@drawable/ic_logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<meta-data android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
        </activity>    
		<activity  android:name="pigeon.app.ui.MainActivity" />   
		<activity  android:name="pigeon.app.ui.NewsListActivity"/>
		<activity  android:name="pigeon.app.ui.WebpageActivity"/>
		<activity  android:name="pigeon.app.ui.AddRssActivity" />   
		<activity  android:name="pigeon.app.ui.AddPublishActivity" />
		   
		<activity  android:name="pigeon.app.ui.ProfileActivity" /> 
		
		<activity  android:name="pigeon.app.ui.StarListActivity" />
		<activity  android:name="pigeon.app.ui.LocalNewsActivity" />
		<activity  android:name="pigeon.app.ui.FeedbackActivity" /> 
		<activity  android:name="pigeon.app.ui.DefaultRssListActivity" /> 
		<activity  android:name="pigeon.app.ui.LoginActivity" /> 
		
		<activity  android:name="pigeon.app.ui.SearchActivity">
			<intent-filter>
        		<action android:name="android.intent.action.SEARCH" />
        		<category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>
		</activity> 

    </application>

</manifest>
